@import "tailwindcss";
/* @import "@tailwindcss/typography"; */


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* This creates the .animate-fade-in utility */
  --animate-fade-in: fade-in 0.9s ease-out;
  --animate-fade-in-up: fadeInUp 0.9s ease-out forwards;
  --animate-fade-in-left: fade-in-left 0.9s ease-out forwards;

  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30vh);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(30vw);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

h1, h2, h3 {
  color: var(--foreground);
  font-weight: 300;
}
h4, h5, h6 {
  color: var(--foreground);
  font-weight: bold;
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .line-clamp-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@utility section-outer {
   display: block;
   width: 100%;
   @apply odd:bg-gray-100/50;
}

@utility section {
  @apply max-w-7xl mx-auto px-8 sm:px-12 lg:px-14;
  /* @apply mx-auto max-w-2xl lg:max-w-7xl; */
}

@utility section-inner {
  @apply py-4;
}

@utility motion {
  @apply opacity-0;
  /* animation: var(--animate-fade-in-up); */
}

@utility motion-button {
  @apply hover:scale-125 active:scale-95 transition-transform duration-200 ease-in-out;
}

@utility nav-link {
  @apply px-3 py-2 mx-1 text-gray-300 hover:text-gray-500 text-lg font-bold cursor-pointer ;
}