@import "tailwindcss" reference;

/* BEM-style class names for src/app/articles/page.tsx */

.articles {
  /* @apply px-4 sm:px-6 lg:px-8; */
}

.articles__header {
  @apply sm:flex sm:items-center;
}

.articles__header__content {
  @apply sm:flex-auto;
}

.articles__title {
  @apply text-2xl;
}

.articles__desc {
  @apply mt-2 text-sm;
}

.articles__actions {
  @apply mt-4 sm:mt-0 sm:ml-16 sm:flex-none;
}

.articles__actions__add {
  @apply inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto;
}
