@import "tailwindcss" reference;

/* BEM-style classes for src/components/ArticleFields.tsx */

.article-fields__image-container {
  /* @apply mb-4 relative w-full h-64 overflow-hidden rounded-lg; */
}
.article-fields__image {
  /* @apply object-cover; */
  @apply w-auto h-auto
}

.article-fields__code {
  @apply bg-gray-100 p-4 rounded mb-4 overflow-x-auto;
}

.article-fields__link {
  @apply text-blue-600 hover:text-blue-900 mb-4 block;
}