@import "tailwindcss" reference;

/* BEM-style classes for src/components/ArticleFields.tsx */
.article-fields__field {
  @apply flex;
}
.article-fields__field--image {
  @apply flex flex-grow;
}
.article-fields__field--code {
  @apply flex flex-grow-2 min-w-[420px] min-h-[300px];
}
.article-fields__field--link {
  @apply flex;
}
.article-fields__image-container {
  /* @apply mb-4 relative w-full h-64 overflow-hidden rounded-lg; */
  @apply max-h-96 overflow-hidden rounded-lg;
}
.article-fields__image {
  /* @apply object-cover; */
  @apply w-auto h-auto mb-4 relative w-full rounded-lg;
}

.article-fields__code {
  @apply flex flex-grow;
}

.article-fields__link {
  @apply text-blue-600 hover:text-blue-900 m-2 block flex flex-shrink-0 flex-grow-0;
}

.article-fields__code-iframe {
  @apply w-full h-full flex flex-grow;
}