/* @import "tailwindcss" reference; */
/* @import "@tailwindcss/typography" reference; */
/* BEM-style classes for src/app/articles/[id]/.tsx */
@reference '../app/globals.css';

.article- {
  /* @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8; */
}

.article__container {
  /* @apply shadow overflow-hidden sm:rounded-lg; */
}

.article__container--published {
  /* @apply bg-white; */
}

.article__container--draft {
  @apply bg-pink-100/20;
}

.article__header {
  /* @apply py-5; */
}

.article__header-images {
  @apply mb-6;
}

.article__title {
  @apply text-3xl mb-4;
}

.article__meta {
  @apply flex items-center text-sm mb-6;
}

.article__meta__dot {
  @apply mx-2;
}

.article__divider {
  @apply border-t border-gray-200;
}


.article__body-container {
  @apply py-5 flex flex-row gap-8;
}

.article__body {
  @apply flex-grow whitespace-pre-wrap leading-relaxed mt-6;
}

.article__code-container {
  @apply py-5 w-full;
  min-width: 33%;
}

.article__code-field {
  @apply mb-6 w-full h-full;
}

.article__link-container {
  @apply mt-6 flex flex-col gap-4 items-end;
}

.article__link-field {
  @apply text-blue-500 hover:underline;
}