/* @import "tailwindcss" reference; */
@reference "../app/globals.css";

/* BEM-style classes for src/components/Footer.tsx */

.footer {
  @apply bg-gray-800 text-white py-4 mt-auto;
}
.footer__container {
  @apply section mx-auto text-center;
}