@reference "../app/globals.css";

/* BEM-style classes for src/components/ImageSlide.tsx */
.image-slide {
  @apply w-full h-full object-cover  flex flex-col gap-2;
}

.image-slide--landscape {
  @apply w-full h-full object-cover  flex flex-row gap-2;
}
.image-slide--container-thumbs {
  @apply w-full flex flex-wrap flex flex-wrap justify-between items-center content-start gap-2;
}
.image-slide--landscape  .image-slide--container-thumbs {
  @apply w-full flex flex-wrap flex flex-row flex-wrap justify-between items-center content-start gap-2;
}
.image-slide__image-container {
  @apply rounded ;
  width: 30%;
  border: 1px solid #ddd;
  position: relative;
}
.image-slide--landscape .image-slide__image-container {
  height: 40%;
}
.image-slide__image-container--main {
  @apply w-full;
  width: 100%;
  border: none;
}
.image-slide__image {
  @apply w-full cursor-pointer animate-fade-in duration-500 object-cover;
  /* width: 25%; */
}
.image-slide__image--main {
  /* @apply  w-full; */
}
.image-slide__caption {
  /* @apply absolute bottom-0 left-0 w-full bg-black bg-opacity-50 text-white p-4 text-sm; */
}