@reference "../app/globals.css";

/* BEM-style classes for src/components/ImageSlide.tsx */
.image-slide {
  @apply w-full h-full object-cover  flex flex-col gap-2;
}

.image-slide--landscape {
  @apply w-full h-full object-cover  flex flex-row gap-2;
}
.image-slide--container-thumbs {
  @apply w-full flex flex-wrap flex flex-wrap justify-between items-center content-start gap-2;
}
.image-slide--landscape  .image-slide--container-thumbs {
  @apply w-full flex flex-wrap flex flex-row flex-wrap justify-between items-center content-start gap-2;
}
.image-slide__image-container {
  @apply rounded;
  width: 30%;
  border: 1px solid #ddd;
  position: relative;
  height: 100px;
}
.image-slide--landscape .image-slide__image-container {
}
.image-slide__image-container--main {
  @apply w-full;
  width: 100%;
  border: none;
  height: auto;
  min-height: 300px;
}

.image-slide--landscape .image-slide__image-container--main {
  @apply w-full;
  width: 100%;
  border: none;
  height: auto;
  min-height: 400px;
}

.image-slide--container-thumbs .image-slide__image-container {
  @apply motion-button;
}
.image-slide__image {
  @apply w-full cursor-pointer animate-fade-in object-cover;
}
.image-slide__image--main {
}
