@import "tailwindcss" reference;

/* BEM-style classes for src/components/Navigation.tsx */

.nav {
  @apply flex items-center space-x-4;
}

.nav__link {
  @apply text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium;
}

.nav__link_add {
  @apply text-white bg-blue-600 hover:bg-blue-700 px-1  rounded-md text-sm font-medium;
}